# .htaccess
# Turn on the Rewrite Engine
RewriteEngine On

# Base directory for the rewrite module
RewriteBase /cloud27-project/

# Check if the request is NOT for a real file
RewriteCond %{REQUEST_FILENAME} !-f

# Check if the request is NOT for a real directory
RewriteCond %{REQUEST_FILENAME} !-d

# Route all other requests to index.php, passing the full URI path ($1)
# Route all other requests to index.php, passing the full URI path ($1)
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

# Increase PHP Upload Limits
<IfModule mod_php7.c>
    php_value upload_max_filesize 10M
    php_value post_max_size 10M
    php_value memory_limit 64M
</IfModule>
<IfModule mod_php.c>
    php_value upload_max_filesize 10M
    php_value post_max_size 10M
    php_value memory_limit 64M
</IfModule>
